# Environment
venv/
.env
*.pyc
__pycache__/

# EnergyPlus simulation outputs
eplusout.*
eplustbl.*
epluspsz.*
eplusssz.*
epluszsz.*

# Output data
output/*.csv

# Media / Large Files
*.mp4
*.avi
*.mov

# Streamlit / IDE
.streamlit/
.vscode/
.idea/
